@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
@model UsuarioTramitesViewModel;

@{
    ViewData["Title"] = "Inicio";
    string rutaCarpeta1 = "carousel-ex";
    var archivos1 = System.IO.Directory.GetFiles(System.IO.Path.Combine(env.WebRootPath, rutaCarpeta1), "*.png");
    string rutaCarpeta = "carousel";
    var archivos = System.IO.Directory.GetFiles(System.IO.Path.Combine(env.WebRootPath, rutaCarpeta), "*.png");
}

@*carousel para dispositivos grandes*@
<div class="container d-none d-lg-block">
    <div id="carouselInicio" class="carousel slide d-flex justify-content-center" data-bs-ride="carousel">
        <div class="carousel-indicators">
            @for(int i = 0; i < archivos1.Length; i++) {
                <button type="button" data-bs-target="#carouselInicio" data-bs-slide-to="@i" class="@((i == 0) ? "active" : "")" aria-current="true" aria-label="Slide @(i + 1)"></button>
            }
        </div>
        <div class="carousel-inner">
            @for(int i = 0; i < archivos1.Length; i++) {
                <div class="carousel-item @(i == 0 ? "active" : "")">
                    <img src="@Url.Content($"{rutaCarpeta1}/{System.IO.Path.GetFileName(archivos1[i])}")"
                         class="mx-auto img-fluid"
                         alt="...">
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselInicio" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselInicio" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
</div>

@*carousel para dispositivos medianos a pequeños*@
<div class="container d-md-block d-lg-none">
    <div id="carouselInicio2" class="carousel slide d-flex justify-content-center" data-bs-ride="carousel">
        <div class="carousel-indicators">
            @for(int i = 0; i < archivos.Length; i++) {
                <button type="button" data-bs-target="#carouselInicio2" data-bs-slide-to="@i" class="@((i == 0) ? "active" : "")" aria-current="true" aria-label="Slide @(i + 1)"></button>
            }
        </div>
        <div class="carousel-inner">
            @for(int i = 0; i < archivos.Length; i++) {
                <div class="carousel-item @(i == 0 ? "active" : "")">
                    <img src="@Url.Content($"{rutaCarpeta}/{System.IO.Path.GetFileName(archivos[i])}")"
                         class="mx-auto img-fluid"
                         alt="...">
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselInicio2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselInicio2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
</div>


<div class="container pt-5">
    <h3 class="text-center">Trámites frecuentes</h3>
    <div class="accordion container" id="accordionTramitesFrecuentes">
        @foreach(var tramite in Model.Tramites) {
            <div class="accordion-item mb-3">
                <h2 class="accordion-header" id="heading_@tramite.Id">
                    <button class="accordion-button text-white @((tramite.Id == 1) ? "" : "collapsed")" style="background-color:#6A86C3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@tramite.Id" aria-expanded="@((tramite.Id == 1) ? "true" : "false")" aria-controls="collapse_@tramite.Id">
                        @tramite.Nombre
                    </button>
                </h2>
                <div id="collapse_@tramite.Id" class="accordion-collapse collapse @(tramite.Id == 1 ? "show" : "")" aria-labelledby="heading_@tramite.Id" data-bs-parent="#accordionTramitesFrecuentes">
                    <div class="accordion-body">
                        @tramite.Descripcion
                    </div>
                    <div class="card-footer text-end">
                        @if(User.Identity.IsAuthenticated) {
                            @if(Model.Usuario.Faltas >= 3) {
                                <a asp-controller="Turnos" asp-action="AgendarHoraGeneral" class="btn btn-outline-dark float-right disabled">Pedir hora</a>
                            } else {
                                <a asp-controller="Turnos" asp-action="AgendarHoraGeneral" class="btn btn-outline-dark float-right">Pedir hora</a>
                            }
                        } else {
                            <a asp-controller="Auth" asp-action="LoginIn" class="btn btn-outline-dark float-right">Pedir hora</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>


    <div class="pt-3 text-center">
        <a asp-controller="Home" asp-action="Secciones" class="btn btn-lg" role="button" aria-pressed="false" style="background-color:#6A86C3; color:white">Ver más</a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    function mostrarAlerta() {
        alert("Debe asistir a la municipalidad para poder habilitar nuevamente la opción de pedir hora.");
    }

    $(document).ready(function () {
        if (@Model.Usuario.Faltas == 3) {
            mostrarAlerta();
        }
    });
</script>