@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env

@{
    ViewData["Title"] = "Inicio";
    string rutaCarpeta1 = "carousel-ex";
    var archivos1 = System.IO.Directory.GetFiles(System.IO.Path.Combine(env.WebRootPath, rutaCarpeta1), "*.png");
    string rutaCarpeta = "carousel";
    var archivos = System.IO.Directory.GetFiles(System.IO.Path.Combine(env.WebRootPath, rutaCarpeta), "*.png");
}

@*carousel para dispositivos grandes*@
<div class="container d-none d-lg-block"> 
    <div id="carouselInicio" class="carousel slide d-flex justify-content-center" data-bs-ride="carousel">
        <div class="carousel-indicators">
            @for(int i = 0; i < archivos1.Length; i++) {
                <button type="button" data-bs-target="#carouselInicio" data-bs-slide-to="@i" class="@((i == 0) ? "active" : "")" aria-current="true" aria-label="Slide @(i + 1)"></button>
            }
        </div>
        <div class="carousel-inner">
            @for(int i = 0; i < archivos1.Length; i++) {
                <div class="carousel-item @(i == 0 ? "active" : "")">
                    <img src="@Url.Content($"{rutaCarpeta1}/{System.IO.Path.GetFileName(archivos1[i])}")"
                         class="mx-auto img-fluid"
                         alt="...">
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselInicio" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselInicio" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
</div>

@*carousel para dispositivos medianos a pequeños*@
<div class="container d-md-block d-lg-none">
    <div id="carouselInicio2" class="carousel slide d-flex justify-content-center" data-bs-ride="carousel">
        <div class="carousel-indicators">
            @for(int i = 0; i < archivos.Length; i++) {
                <button type="button" data-bs-target="#carouselInicio2" data-bs-slide-to="@i" class="@((i == 0) ? "active" : "")" aria-current="true" aria-label="Slide @(i + 1)"></button>
            }
        </div>
        <div class="carousel-inner">
            @for(int i = 0; i < archivos.Length; i++) {
                <div class="carousel-item @(i == 0 ? "active" : "")">
                    <img src="@Url.Content($"{rutaCarpeta}/{System.IO.Path.GetFileName(archivos[i])}")"
                         class="mx-auto img-fluid"
                         alt="...">
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselInicio2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselInicio2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
</div>


<div class="container pt-5">
    <h3 class="text-center">Trámites frecuentes</h3>

    <div class="accordion container" id="accordionTramitesFrecuentes">
        @*es un ciclo for para crear los acordeones de forma automatica*@
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading_1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_1" aria-expanded="true" aria-controls="collapse_1">
                    Trámite 1
                </button>
            </h2>
            <div id="collapse_1" class="accordion-collapse collapse show" aria-labelledby="heading_1" data-bs-parent="#accordionTramitesFrecuentes">
                <div class="accordion-body">
                    Con este proceso, puedes realizar tu solicitud de forma fácil y rápida, sin tener que hacer filas o esperar mucho tiempo.
                    @*<a asp-controller="Home" asp-action="Dirección_de_Aseo_y_Ornato">Ver más</a>*@
                </div>
                <div class="card-footer text-end">
                    <a asp-controller="Turnos" asp-action="AgendarHoraGeneral" class="btn btn-outline-dark float-right">Pedir hora</a>
                </div>
            </div>
        </div>
            
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading_2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_2" aria-expanded="false" aria-controls="collapse_2">
                    Trámite 2
                </button>
            </h2>
            <div id="collapse_2" class="accordion-collapse collapse" aria-labelledby="heading_2" data-bs-parent="#accordionTramitesFrecuentes">
                <div class="accordion-body">
                    Con este proceso, puedes realizar tu solicitud de forma fácil y rápida, sin tener que hacer filas o esperar mucho tiempo.
                    @*<a asp-controller="Home" asp-action="Dirección_de_Aseo_y_Ornato">Ver más</a>*@
                </div>
                <div class="card-footer text-end">
                    <a asp-controller="Turnos" asp-action="AgendarHoraGeneral" class="btn btn-outline-dark float-right">Pedir hora</a>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading_3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_3" aria-expanded="false" aria-controls="collapse_3">
                    Trámite 3
                </button>
            </h2>
            <div id="collapse_3" class="accordion-collapse collapse" aria-labelledby="heading_3" data-bs-parent="#accordionTramitesFrecuentes">
                <div class="accordion-body">
                    Con este proceso, puedes realizar tu solicitud de forma fácil y rápida, sin tener que hacer filas o esperar mucho tiempo.
                    @*<a asp-controller="Home" asp-action="Dirección_de_Aseo_y_Ornato">Ver más</a>*@
                </div>
                <div class="card-footer text-end">
                    <a asp-controller="Turnos" asp-action="AgendarHoraGeneral" class="btn btn-outline-dark float-right">Pedir hora</a>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading_4">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_4" aria-expanded="false" aria-controls="collapse_4">
                    Trámite 4
                </button>
            </h2>
            <div id="collapse_4" class="accordion-collapse collapse" aria-labelledby="heading_4" data-bs-parent="#accordionTramitesFrecuentes">
                <div class="accordion-body">
                    Con este proceso, puedes realizar tu solicitud de forma fácil y rápida, sin tener que hacer filas o esperar mucho tiempo.
                    @*<a asp-controller="Home" asp-action="Dirección_de_Aseo_y_Ornato">Ver más</a>*@
                </div>
                <div class="card-footer text-end">
                    <a asp-controller="Turnos" asp-action="AgendarHoraGeneral" class="btn btn-outline-dark float-right">Pedir hora</a>
                </div>
            </div>
        </div>
    </div>

   <div class="pt-3 text-center">
        <a href="" class="btn btn-lg" role="button" aria-pressed="false" style="background-color:#6A86C3; color:white">Ver más</a>
   </div>
</div>      
