@using System.Security.Claims;
@model UsuarioTurnosViewModel
@{
    ViewData["Title"] = "Historial";
}
<link rel="stylesheet" href="~/css/MiUsuario.css" />

@if(Model.Usuario.Faltas == 3) {
    <script type="text/javascript">
        mostrarAlerta();
    </script>
}

<div class="container">
    <div class="izquierda">
        <h3>Bienvenido a MiUsuario</h3>
        @if(Model.Usuario.Faltas != 1) {
            <h4>Lleva @Model.Usuario.Faltas inasistencias</h4>
        } else {
            <h4>Lleva @Model.Usuario.Faltas inasistencia</h4>
        }
    </div>
    <div class="derecha">
        <a asp-controller="Auth" asp-action="Logout" class="btn btn-outline-danger float-right" onclick="return confirm('¿Deseas cerrar la sesión?')">
            <i class="fa-solid fa-right-from-bracket"></i>
            Cerrar sesión
        </a>
    </div>
</div>
<div class="card col-md-10 mx-auto" style="margin-top:10px;">
    <div class="card-body">
        <div class="derecha">
            <a asp-controller="Turnos" asp-action="MiUsuario" class="btn mb-2" id="btnIr" style="background-color:#6A86C3; color:white">Volver</a>
        </div>
        <div class="container">
           
            <div class="table-responsive">
                <table class="table table-bordered mx-auto">
                    <colgroup>
                        <col style="width: 10%;">
                        <col style="width: 10%;">
                        <col style="width: 50%;">
                        <col style="width: 10%;">
                        <col style="width: 20%;">
                    </colgroup>
                    <thead>
                        <tr class="text-center">
                            <th scope="col" hidden>id</th>
                            <th scope="col">Día/Mes/Año</th>
                            <th scope="col">Hora</th>
                            <th scope="col">Sección</th>
                            <th colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(Model.Turnos.Count != 0) {
                            @foreach(var U in Model.Turnos) {
                                <tr>
                                    <td class="align-middle text-center" hidden>
                                        @U.TramiteId
                                    </td>
                                    <td class="align-middle text-center">
                                        @U.Fecha.Date.ToString("dd/MM/yyyy")
                                    </td>
                                    <td class="align-middle text-center">
                                        @U.Hora.ToString("hh\\:mm")
                                    </td>
                                    <td class="align-middle text-center">
                                        @U.Tramite.Seccion.Nombre
                                    </td>
                                    <td class="align-middle text-center">
                                        <button type="button" class="btn btn-detalle" data-bs-toggle="modal" data-bs-target="#detallesModal" data-id="@U.TramiteId" style="color:#6A86C3">
                                            <i class="fa-solid fa-magnifying-glass-plus"></i> Ver detalle
                                        </button>
                                    </td>
                                    <td class="align-middle text-center">
                                        <a asp-controller="" asp-action="" asp-route-turnoId="@U.Id" class="text-warning d-block" onclick="alert('Esta funcionalidad se implementará a futuro'); return false;">
                                            <span class="material-symbols-outlined align-middle">edit_calendar</span>
                                            Reclamo o sugerencia
                                        </a>
                                    </td>
                                </tr>
                            }

                        } else {
                            <tr>
                                <td colspan="6" class="text-center">
                                    <h4>No tiene horas agendadas</h4>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="detallesModal" tabindex="-1" role="dialog" aria-labelledby="detallesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detallesModalLabel">Detalles del Turno</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Aquí se cargará el contenido dinámicamente -->
                <div id="detalleContent"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/LoginIn.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script src="~/js/LoginIn.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    function mostrarAlerta() {
        alert("Debe asistir a la municipalidad para poder habilitar nuevamente la opción de pedir hora.");
    }

    $(document).ready(function () {
        if (@Model.Usuario.Faltas == 3) {
            mostrarAlerta();
        }
    });

</script>
<script type="text/javascript">
    $(document).ready(function () {
        // Manejar el clic en el botón "Ver detalle"
        $('.btn-detalle').on('click', function () {
            var tramiteId = $(this).data('id');

            // Realizar una solicitud AJAX para obtener los detalles del turno
            $.ajax({
                url: '@Url.Action("ObtenerDetalles", "Turnos")',
                type: 'GET',
                data: { id: tramiteId },
                success: function (data) {
                    // Construir el HTML con los detalles del turno
                    var detalleHtml = '';
                    detalleHtml += '<p><strong>Edificio:</strong> ' + data.Edificio + '</p>';
                    detalleHtml += '<p><strong>Piso:</strong> ' + data.Piso + '</p>';
                    detalleHtml += '<p><strong>Oficina:</strong> ' + data.Oficina + '</p>';
                    detalleHtml += '<hr/>'; // Línea divisoria
                    if (data.Documento1) {
                        detalleHtml += '<p><strong>Documento 1:</strong> ' + data.Documento1 + '</p>';
                    }
                    if (data.Documento2) {
                        detalleHtml += '<p><strong>Documento 2:</strong> ' + data.Documento2 + '</p>';
                    }
                    if (data.Documento3) {
                        detalleHtml += '<p><strong>Documento 3:</strong> ' + data.Documento3 + '</p>';
                    }

                    // Insertar los detalles en el modal
                    $('#detalleContent').html(detalleHtml);
                },
                error: function () {
                    alert("Hubo un error al obtener los detalles. Inténtelo nuevamente.");
                }
            });
        });
    });
</script>
